@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Raindrops and sunshine</h1>
    <p class="lead">Weather application based on imaginary facts</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            Playground for trying stuff...
        </p>
        <p><a class="bouton cloud" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more ideas</h2>
        <p>From you?</p>
        <p><a class="bouton cloud" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clouds</h2>
        <p>More clouds, virtual ones :-).</p>
        <p><a class="bouton cloud" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>